"*":
  Zen:
    gutter: true
    showWordCount: "Right"
    softWrap: true
    typewriter: true
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "be29c347-f4d6-47fb-86b8-c7f9f5699c2a"
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      indent_size: 2
      keep_array_indentation: true
    json:
      end_with_newline: true
      indent_size: 2
      unescape_strings: true
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php:
      disabled: true
    python:
      disabled: true
    riot: {}
    ruby:
      default_beautifier: "Ruby Beautify"
      indent_size: 2
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-material-ui":
    colors:
      abaseColor: "#ebebeb"
      accentColor: "#f9f6f6"
      genAccent: true
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-pair":
    hipchat_room_name: "DLT"
  "auto-run":
    commands: [
      "atomenv:load"
    ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-ctags":
    debug: true
    disableBuiltinProvider: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  "autocomplete-ruby": {}
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "rgba(0, 0, 0, 0)"
        borderColor: "rgba(234, 194, 45, 0.55)"
        borderStyle: "bordered-box"
      blinkOn:
        backgroundColor: "rgba(234, 194, 45, 0.55)"
        borderColor: "rgba(0, 0, 0, 0)"
        borderStyle: "none"
        borderWidth: 0
      cursorLineFix: true
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-toml"
      "language-csharp"
      "language-clojure"
      "language-c"
      "project-ring"
      "sourcegraph-atom"
      "go-to-spec"
      "multi-cursor-plus"
      "linter-rubocop"
      "git-blame-plus"
      "chary-tree-view"
      "jsonlint"
      "cargo-test-runner"
      "git-log"
      "language-rust"
      "racer"
      "rust-api-docs-helper"
      "tree-view-git-modified"
      "wrap-guide"
      "linter-rust"
      "merge-conflicts"
      "travis-ci-status"
      "terminal-status"
      "autocomplete"
      "autocomplete-ruby"
      "ctags-status"
      "symbols-tree-view"
      "pigments"
      "keyboard-scroll"
      "color-picker"
      "autocomplete-ctags"
      "atom-ctags"
      "incremental-search"
      "atom-spec-finder"
      "markdown-pdf"
      "gofmt"
      "tester-go"
      "autocomplete-go"
      "gometalinter-linter"
      "block-cursor"
      "atom-pair"
      "go-debug"
      "hyperclick"
      "terminal-plus"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "tags"
      ".tag*"
      ".log"
    ]
    packagesWithKeymapsDisabled: [
      "graphviz-preview"
      "term3"
    ]
    projectHome: "/Users/jfriesen/git"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "ruby-blue-syntax"
    ]
  "ctags-status": {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Mensch-Regular"
    fontSize: 13
    invisibles: {}
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    scrollPastEnd: true
    showInvisibles: true
    softWrapHangingIndent: 20
  "env-from-shell":
    debug: true
    variables: [
      "PATH"
      "GOPATH"
      "GOROOT"
    ]
  "exception-reporting":
    userId: "3d6d5bc2-8a42-8d9a-1a35-e7bbbb8ff132"
  "gist-it":
    userToken: "5ae4c6ca80b970dea795202842988b3f73a0c062"
  "git-blame-plus": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "git-plus":
    general:
      _analyticsUserId: "1c320c08-662c-4e93-9346-7e1680ea9657"
  "go-plus":
    panelDisplayMode: "closed"
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
    hideHighlightOnSelect: true
  jumpy:
    fontSize: 0.8
    highContrast: true
  "keyboard-scroll": {}
  linter:
    disabledProviders: [
      "write-good"
    ]
  "linter-rubocop": {}
  "linter-ruby":
    rubyExecutablePath: "/usr/local/bin/ruby"
  "linter-ui-default":
    panelHeight: 69
  "linter-write-good":
    additionalArgs: "--yes-eprime"
    severityLevel: "Warning"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap: {}
  "multi-wrap-guide":
    columns: [
      49
      71
      79
      139
    ]
    locked: true
    rows: [
      50
      72
      80
      140
    ]
  pigments: {}
  "plantuml-preview":
    dotLocation: "/Applications/Graphviz.app/Contents/MacOS/Graphviz"
    jarLocation: "/Users/jfriesen/bin/plantuml.jar"
  "plantuml-viewer":
    graphvizDotExecutable: "/Applications/Graphviz.app/Contents/MacOS/Graphviz"
  "pretty-json": {}
  "project-ring": {}
  "rails-rspec": {}
  "ruby-block":
    highlightLineNumber: true
  "sourcegraph-atom": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "status-bar": {}
  "symbols-tree-view":
    autoToggle: true
  "tab-numbers": {}
  tabs:
    enableVcsColoring: true
  term3:
    colors: {}
    shellArguments: "--init-file /Users/jfriesen/.profile"
  "terminal-plus":
    core:
      shell: "/bin/bash"
    toggles:
      autoClose: true
  "terminal-status": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "tool-bar":
    iconSize: "16px"
    visible: false
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "travis-ci-status": {}
  "tree-view": {}
  "tree-view-git-status": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  wordcount:
    noextension: true
".diff.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".erb.html.text":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    showIndentGuide: false
".git.source":
  editor:
    preferredLineLength: 72
".plantuml":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".rspec.ruby.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".ruby.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    showIndentGuide: false
"the-closer":
  closeWindowTogetherWithLastTab: true
