"*":
  Zen:
    gutter: true
    showWordCount: "Right"
    softWrap: true
    typewriter: true
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "be29c347-f4d6-47fb-86b8-c7f9f5699c2a"
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      indent_size: 2
      keep_array_indentation: true
    json:
      end_with_newline: true
      indent_size: 2
      unescape_strings: true
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php:
      disabled: true
    python:
      disabled: true
    riot: {}
    ruby:
      default_beautifier: "Ruby Beautify"
      indent_size: 2
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-material-ui":
    colors:
      abaseColor: "#ebebeb"
      accentColor: "#f9f6f6"
      genAccent: true
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  "atom-pair":
    hipchat_room_name: "DLT"
  "atom-password-generator": {}
  "auto-run":
    commands: [
      "atomenv:load"
    ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-ctags":
    debug: true
    disableBuiltinProvider: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  "autocomplete-ruby": {}
  "base16-syntax":
    scheme: "Google"
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "rgba(0, 0, 0, 0)"
        borderColor: "rgba(234, 194, 45, 0.55)"
        borderStyle: "bordered-box"
      blinkOn:
        backgroundColor: "rgba(234, 194, 45, 0.55)"
        borderColor: "rgba(0, 0, 0, 0)"
        borderStyle: "none"
        borderWidth: 0
      cursorLineFix: true
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-toml"
      "language-csharp"
      "language-clojure"
      "language-c"
      "project-ring"
      "go-to-spec"
      "multi-cursor-plus"
      "linter-rubocop"
      "git-blame-plus"
      "chary-tree-view"
      "jsonlint"
      "cargo-test-runner"
      "git-log"
      "language-rust"
      "tree-view-git-modified"
      "wrap-guide"
      "merge-conflicts"
      "autocomplete"
      "autocomplete-ruby"
      "ctags-status"
      "pigments"
      "color-picker"
      "incremental-search"
      "atom-spec-finder"
      "markdown-pdf"
      "gofmt"
      "tester-go"
      "autocomplete-go"
      "gometalinter-linter"
      "block-cursor"
      "atom-pair"
      "symbols-tree-view"
      "git-diff"
      "markdown-scroll-sync"
      "project-manager"
      "document-outline"
      "atom-ide-console"
      "ide-yaml"
      "ide-json"
      "plantuml-viewer"
      "language-latex"
      "intentions"
      "jekyll"
      "jekyll-syntax-highlighting"
      "language-liquid"
      "latex"
      "language-gfm"
      "markdown-preview"
      "atom-liquid-snippets"
      "docker"
      "language-docker"
      "ruby-bundler"
      "tetromino"
      "linter"
      "go-rename"
      "yard"
      "language-ruby-without-erb"
      "language-hugo"
      "teletype"
      "language-go"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tag*"
      "*.log"
      "*.pdf"
      "*.rtf"
      "*.jpg"
      "*.png"
      "*.svg"
      "*.jpeg"
      "vendor/bundle"
    ]
    packagesWithKeymapsDisabled: [
      "graphviz-preview"
      "term3"
    ]
    packagesWithSnippetsDisabled: []
    projectHome: "/Users/jfriesen/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "vibrant-ink-ruby"
    ]
    uriHandlerRegistration: "always"
    warnOnLargeFileLimit: 4
  "ctags-status": {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "\"JetBrains Mono\", \"Hack Nerd Font\", Menlo"
    invisibles: {}
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    scrollPastEnd: true
    showInvisibles: true
    softWrapHangingIndent: 20
  "env-from-shell":
    debug: true
    variables: [
      "PATH"
      "GOPATH"
      "GOROOT"
    ]
  "exception-reporting":
    userId: "3d6d5bc2-8a42-8d9a-1a35-e7bbbb8ff132"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "gist-it":
    openAfterCreate: true
    userToken: "5ae4c6ca80b970dea795202842988b3f73a0c062"
  "git-blame-plus": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "git-plus":
    commits:
      verboseCommits: true
    diffs:
      useSplitDiff: true
      wordDiff: true
    general:
      _analyticsUserId: "1c320c08-662c-4e93-9346-7e1680ea9657"
    remoteInteractions:
      pullBeforePush: true
      pullRebase: true
  "go-plus":
    panelDisplayMode: "closed"
  "go-rename": {}
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    hideHighlightOnSelect: true
  jumpy:
    fontSize: 0.8
    highContrast: true
  "keyboard-scroll": {}
  linter: {}
  "linter-proselint":
    enabledScopes: [
      "source.gfm"
      "source.pfm"
      "source.md"
      "text.plain"
      "text.tex.latex"
      "text.tex.latex.beamer"
      "text.tex.latex.memoir"
      "source.asciidoc"
      "text.restructuredtext"
      "text.html.hugo"
    ]
  "linter-rubocop": {}
  "linter-ruby":
    rubyExecutablePath: "/Users/jfriesen/.rbenv/shims/ruby"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    gutterPosition: "Left"
    panelHeight: 159
    showProviderName: true
    statusBarClickBehavior: "Jump to next issue"
    statusBarRepresents: "Current File"
  "linter-ui-plus":
    statusBarPosition: "Right"
  "linter-write-good":
    additionalArgs: "--no-passive --yes-eprime"
    enabledScopes: [
      "source.gfm"
      "source.pfm"
      "source.md"
      "text.plain"
      "text.tex.latex"
      "text.tex.latex.beamer"
      "text.tex.latex.memoir"
      "source.asciidoc"
      "text.restructuredtext"
      "text.html.basic"
      "text.html.hugo"
      "text.md"
    ]
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap: {}
  "multi-wrap-guide":
    columns: [
      50
      70
      80
      140
      200
    ]
    locked: true
    rows: [
      50
      72
      80
      140
      200
    ]
  pigments: {}
  "plantuml-preview":
    dotLocation: "/usr/local/Cellar/graphviz/2.42.3/bin/dot"
    jarLocation: "/usr/local/Cellar/plantuml/1.2020.2/libexec/plantuml.jar"
    useTempDir: false
  "plantuml-viewer":
    graphvizDotExecutable: "/usr/local/Cellar/graphviz/2.40.1/Graphviz.app/Contents/MacOS/Graphviz"
  "platformio-ide-terminal":
    core:
      shellArguments: "--init-file /Users/jfriesen/.profile"
  "pretty-json": {}
  "project-ring": {}
  "rails-rspec": {}
  "ruby-block":
    highlightLineNumber: true
  "sourcegraph-atom": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.html.hugo"
      "text.md"
    ]
    locales: [
      "en-US"
    ]
    useLocales: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "status-bar": {}
  "symbols-tree-view":
    autoToggle: true
  "tab-numbers": {}
  tabs:
    enableVcsColoring: true
  term3:
    colors: {}
    shellArguments: "--init-file /Users/jfriesen/.profile"
  "terminal-status": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "tool-bar":
    iconSize: "16px"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "tree-view-git-status": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
  wordcount:
    noextension: true
  yard:
    addCommentLineAfterClassOrModuleDescription: true
    addCommentLineAfterParams: true
    addCommentLineAfterReturn: true
    addCommentLineBeforeDescription: true
    addCommentLineBeforeParams: true
    addCommentLineBeforeReturn: true
    ensureBlankLineBeforeDescription: true
".css.liquid.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
".diff.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".erb.html.text":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    showIndentGuide: false
".git.source":
  editor:
    preferredLineLength: 72
".html.hugo.text":
  editor:
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
".html.liquid.text":
  editor:
    showIndentGuide: true
    softWrap: true
".plantuml":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".rspec.ruby.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
".ruby.source":
  editor:
    nonWordCharacters: "/\\()\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    preferredLineLength: 140
    showIndentGuide: false
"the-closer":
  closeWindowTogetherWithLastTab: true
