'.platform-darwin atom-workspace atom-text-editor:not(.mini)':
  'ctrl-cmd-z': 'native!'
'.platform-darwin atom-workspace':
  'ctrl-cmd-z': 'native!'
  'ctrl-t': 'unset!'
  'cmd-alt-t': 'term3:open'
'atom-text-editor':
  'cmd-h': 'unset!'
'atom-workspace':
  'ctrl-cmd-z': 'native!'
  'cmd-k cmd-c': 'git-plus:commit'
  'cmd-k cmd-a': 'git-plus:add'
  'cmd-k cmd-z': 'git-plus:add-all'
  'cmd-k cmd-z': 'git-plus:add-all'
  'cmd-k cmd-s': 'git-plus:status'
  'cmd-k cmd-p': 'git-plus:push'
  'cmd-k cmd-r': 'git-plus:pull-using-rebase'
  'ctrl-l': 'go-to-line:toggle'
  'cmd-.': 'rails-rspec:toggle-spec-file'
  'cmd-ctrl-w': 'tabs:close-all-tabs'
  'ctrl-w': 'editor:select-word'
  'ctrl-alt-cmd-z': 'zen:toggle'
  'shift-ctrl-i': 'window:toggle-invisibles'
  'ctrl-alt-cmd-w': 'tabs:close-other-tabs'
  'ctrl-alt-cmd-d': 'graphviz-preview:toggle'
  'cmd-h cmd-c': 'change-case:pascal'
  'cmd-h cmd-d': 'change-case:kebab'
  'cmd-h cmd-s': 'change-case:snake'
  'cmd-y': 'yard:create'
