[
  {
    title: "bookreader"
    paths: [
      "/Users/jfriesen/git/bookreader"
    ]
  }
  {
    title: "cogitate"
    paths: [
      "/Users/jfriesen/git/cogitate"
    ]
  }
  {
    title: "commitment"
    paths: [
      "/Users/jfriesen/git/commitment"
    ]
  }
  {
    title: "sipity"
    paths: [
      "/Users/jfriesen/git/sipity"
    ]
  }
  {
    title: "cogitate-client"
    paths: [
      "/Users/jfriesen/git/cogitate-client"
    ]
  }
  {
    title: "curate_nd"
    paths: [
      "/Users/jfriesen/git/curate_nd"
    ]
  }
  {
    title: "curate"
    paths: [
      "/Users/jfriesen/git/curate"
    ]
  }
  {
    title: "firehose"
    paths: [
      "/Users/jfriesen/git/firehose"
    ]
  }
]
